<html>
  <head>
    <title>Technical Skills</title>
  </head>
  <body>
    <h1>Technical Skills</h1>
    <div class="user">
        <div class="tech">
          <i class="fa fa-microchip fa-3x"></i>          
          <h4>Coursework</h4>
          Robotics, Microcontrollers, VHDL, Quartus, Statistics
        </div>

        <div class="tech">
          <i class="fa fa-code fa-3x"></i>          
          <h4>Computer Programming</h4>
          Proficient in Python, C, C++, Java, SQL, and MATLAB
        </div>

        <div class="tech">
          <i class="fa fa-cubes fa-3x"></i>          
          <h4>CAD Programs and 3D Modeling</h4>
          COMSOL Multiphysics, MeshLab, MathMod, SolidWorks
        </div>
    </div>
  </body>
</html>
