<html>
  <head>
    <title>Technical Skills</title>
  </head>
  <body>
    <h1>Technical Skills</h1>
    <div class="user">
        <div class="tech">
          <i class="fa fa-graduation-cap"></i>          
          <h4>Coursework</h4>
          <p>Robotics, Microcontrollers, VHDL, Quartus, Statistics, Electronics</p>
        </div>

        <div class="tech">
          <i class="fa fa-code"></i>          
          <h4>Computer Programming</h4>
          <p>Proficient in Python, C, C++, Java, SQL, MATLAB, & Assembly Language</p>
        </div>

        <div class="tech">
          <i class="fa fa-cubes"></i>          
          <h4>CAD Programs & 3D Modeling</h4>
          <p>COMSOL Multiphysics, MeshLab, MathMod, SolidWorks</p>
        </div>
    </div>
  </body>
</html>
