<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:laurenpham23@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/lauren-pham/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My University" target="_blank" href="https://engineering.osu.edu/"><i class="icon fa fa-university" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="https://laurenpham.github.io/home/">Home</a>
        <a class="link" href="https://laurenpham.github.io/projects/">Projects</a>
        <a class="link" href="https://laurenpham.github.io/techskills/">Technical Skills & Career Goals</a>
        <a class="link" href="https://laurenpham.github.io/resume/">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
